# Both
ENIACORE_MOVIE_PATH=''
ENIACORE_SHOW_PATH=''
ENIACORE_MANAGER_PATH=''
ENIACORE_LOG_STDOUT='true'

# Ingest
ENIACORE_TORRENT_PATH=''
ENIACORE_INCOMPLETE_PATH=''
ENIACORE_INTERACTIVE='true'
ENIACORE_DRY_RUN='true'
ENIACORE_TMDB_API_KEY=''
ENIACORE_LIMIT='10'

# Subtitles — https://www.opensubtitles.com/en/consumers
ENIACORE_OS_API_KEY=''
ENIACORE_OS_USER_AGENT=''
ENIACORE_OS_USER=''
ENIACORE_OS_PASS=''
